
@{
    ViewBag.Title = "Edit";
}

<h2>Edit ProductType</h2>

@using (Html.BeginForm())
{
    <div class="form">
        <div class="form-group">
            <label for="tensp">Tên loại sản phẩm</label>
            <input type="text" class="form-control" id="tensp" placeholder="Tên loại Sản phẩm" name="TenLoaiSanPham" value="@Model.TenLoaiSanPham">
            <input type="hidden" name="MaLoaiSanPham" value="@Model.MaLoaiSanPham" />
        </div>
        <button type="submit" name="submit" class="btn btn-success">Sửa sản phẩm</button>
        <button type="reset" name="reset" class="btn btn-danger">Reset</button>
    </div>
}


