
@{
    ViewBag.Title = "Create";
}
<h1>Create Product</h1> 
    @using (Html.BeginForm("Create", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
     {
        <div class="form">
            <div class="form-group">
                <label for="tensp">Tên sản phẩm</label>
                <input type="text" class="form-control" id="tensp" placeholder="Tên Sản phẩm" name="TenSanPham">
            </div>

            <div class="form-group">
                <label for="gia">Giá</label>
                <input type="number" class="form-control" id="gia" placeholder="Giá sản phẩm" name="Gia">
            </div>

            <div class="form-group">
                <label for="img">Hình ảnh</label>
                <input type="file" name="image" id="img" class="form-control" />
            </div>

            <div class="form-group">
                <label for="mota">Mô tả</label>
                <textarea class="tinymce" rows="3" id="mota" name="MoTa"></textarea>
            </div>
            <div class="form-group">
                <label>Mã sản phẩm <span class="required">*</span></label>
                <select class="form-control" name="LoaiSp">
                    @foreach (var item in ViewBag.LoaiSanPham)
                     {
                        <option value="@item.MaLoaiSanPham">
                            @item.TenLoaiSanPham
                        </option>
                    }
                </select>
            </div>
            <button type="submit" name="submit" class="btn btn-success">Thêm sản phẩm</button>
            <button type="reset" name="reset" class="btn btn-danger">Reset</button>
        </div>
    }
