
@{
    ViewBag.Title = "Index";
}

<h2>Danh Sách Sản Phẩm</h2>

<table class="table table-striped">
    <tr>
        <th>Mã sản phẩm</th>
        <th>Tên sản phẩm</th>
        <th>Giá</th>
        <th>Hình ảnh</th>
        <th>Loại sản phẩm</th>
    </tr>
</table>